<input type="text" placeholder="Codice conto" [(ngModel)]="codiceConto">

<button (click)="cerca()">Cerca</button>
{{contoSelezionato}}
{{erroreConto}}
<br> <br>
<input type="text" placeholder="Conto selezionato" readonly [(ngModel)]="contoSelezionato">
<br> <br>

<select name="profile" [(ngModel)]="tipoMovimento">
  <option ngValue="V">Versamento</option>
  <option ngValue="B">Bonifico</option>
  <option ngValue="P">Prelievo</option>
</select>
{{ tipoMovimento }}
<input type="text" placeholder="Importo" [(ngModel)]="b.importo">
<button (click)="esegui()">Esegui</button>
<br><br>
<table border=3px>
  <td>Data </td>
  <td>Tipo movimento</td>
  <td>Importo</td>
  <tr *ngFor="let a of contiCorrente">
    <td>{{a.importo}}</td>
  </tr>
</table>