<h3>HOME PAGE CONTO CORRENTE BANCARIO</h3>
<br>
<button (click)="gestioneClienti()">Gestione Cliente</button>&nbsp;
<button (click)="gestioneCC()">Gestione Conto Corrente</button>&nbsp; 
<button (click)="gestioneCP()">Gestione Conto Prestito</button> &nbsp;
<button (click)="gestioneCD()">Gestione Conto Deposito</button> &nbsp;
<button (click)="mostraTuttiConti()">Mostra Tutti I Conti</button> &nbsp;
<button (click)="associaCC()">Associa Conto Corrente</button>&nbsp;
<button (click)="associaCP()">Associa Conto Prestito</button> &nbsp;
<button (click)="associaCD()">Associa Conto Deposito</button> &nbsp; 

