<input type="text" placeholder="codiceConto" [(ngModel)]="codiceConto">
<button (click)="cerca()">Cerca</button>
{{erroreConto}}
<br>
Conto selezionato:{{contoSelezionato}}
<br>
<form name="form1" id="form1" action="/action_page.php">
    Azione: <select name="subject" id="subject">
        <option value="">Deposito:</option>
        <option value="">Riscatto:</option>

    </select>
</form>
<input type="text" placeholder="importo" [(ngModel)]="importo">
<button (click)="esegui()">Esegui</button>
<br>
<br>
<table>
    <tr>
        <th>Data</th>
        <th>Tipo movimento</th>
        <th>Importo</th>
    </tr>
</table>