<input type="text" placeholder="codiceConto" [(ngModel)]="contoDeposito.codice">
<button (click)="cerca()">Cerca</button>
{{erroreConto}}
<br>
Conto selezionato:{{contoSelezionato}}
<br>
<select [(ngModel)]="movimentoCd.tipoMovimento">
    <option value="deposito">Deposito</option>
    <option value="riscatto">Riscatto</option>
</select>
<input type="text" placeholder="importo" [(ngModel)]="movimentoCd.importoMov">
<button (click)="esegui()">Esegui</button>
<br>
<br>
<table>
    <tr>
        <th>Data |</th>
        <th>Tipo movimento |</th>
        <th>Importo |</th>
    </tr>
    <tr>

    </tr>
</table>