<input type="text" placeholder="codiceConto" [(ngModel)]="codiceConto">
<button (click)="cerca()">Cerca</button>
{{erroreConto}}
<br>
Conto selezionato:{{contoSelezionato}}
<br>
<form [formGroup]="contactForm" (ngSubmit)="esegui()">
    <p>
        <select formControlName="operazione">
            <option [ngValue]="null" disabled>Seleziona Operazione</option>
            <option *ngFor="let operazione of operazioni" [ngValue]="operazione.id">{{operazione.name}}</option>
        </select>
        <button type="esegui">Esegui</button>
    </p>
</form>
<input type="text" placeholder="importo" [(ngModel)]="importo">
<br>
<br>
<table>
    <tr>
        <th>Data |</th>
        <th>Tipo movimento |</th>
        <th>Importo |</th>
    </tr>
</table>