<input type="text" [(ngModel)]="cliente.nome" placeholder="nome">
<input type="text" [(ngModel)]="cliente.cognome" placeholder="cognome">
<input type="text" [(ngModel)]="cliente.codiceFiscale" placeholder="Codice Fiscale">
<input type="date" [(ngModel)]="cliente.dataDiNascita" placeholder="Data di nascita">
<input type="text" [(ngModel)]="cliente.indirizzo" placeholder="Indirizzo">
<input type="text" [(ngModel)]="cliente.telefono" placeholder="Telefono">
<button (click)="nuovo()">Nuovo</button>
<button (click)="aggiungi()">Aggiungi</button>
<table *ngIf="clienti.length >0">
    <tr *ngFor="let c of clienti">
        <th>Nome</th>
        <th>Cognome</th>
        <th>Codice Fiscale</th>
        <th>Data di nascita</th>
        <th>Indirizzo</th>
        <th>Telefono</th>
    </tr>
    <tr>
        <td>{{c.nome}}</td>
        <td>{{c.cognome}}</td>
        <td>{{c.codiceFiscale}}</td>
        <td>{{c.dataDiNascita}}</td>
        <td>{{c.indirizzo}}</td>
        <td>{{c.telefono}}</td>
    </tr>
</table>

