<h1>{{stato}}</h1>
<input type="text" [(ngModel)]="cliente.nome" placeholder="nome" [disabled]="stato == 'cancella'">
<input type="text" [(ngModel)]="cliente.cognome" placeholder="cognome" [disabled]="stato == 'cancella'">
<input type="text" [(ngModel)]="cliente.codiceFiscale" placeholder="Codice Fiscale" [disabled]="stato == 'cancella'">
<input type="date" [(ngModel)]="cliente.dataDiNascita" placeholder="Data di nascita" [disabled]="stato == 'cancella'">
<input type="text" [(ngModel)]="cliente.indirizzo" placeholder="Indirizzo" [disabled]="stato == 'cancella'">
<input type="text" [(ngModel)]="cliente.telefono" placeholder="Telefono" [disabled]="stato == 'cancella'">
<button (click)="aggiungi()" *ngIf="stato == 'Gestione-Cliente'">Aggiungi</button>
<div *ngIf="stato != 'Gestione-Cliente'">
    <button (click)="conferma()">Conferma</button>
    <button (click)="annulla()">Annulla</button>
</div>

<table *ngIf="clienti.length >0 && stato == 'Gestione-Cliente'">
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Codice Fiscale</th>
        <th>Data di nascita</th>
        <th>Indirizzo</th>
        <th>Telefono</th>
    </tr>
    <tr *ngFor="let c of clienti">
        <td>{{c.nome}}</td>
        <td>{{c.cognome}}</td>
        <td>{{c.codiceFiscale}}</td>
        <td>{{c.dataDiNascita}}</td>
        <td>{{c.indirizzo}}</td>
        <td>{{c.telefono}}</td>
        <div *ngIf="stato == 'Gestione-Cliente'">
            <td>
                <button (click)="cancella(c)">X</button>
            </td>
            <td>
                <button (click)="modifica(c)">Modifica</button>
            </td>
        </div>
    </tr>
</table>