<div *ngIf="showForm">
    <input type="text" placeholder="numConto" [(ngModel)]="contoCorrente.numeroConto">
    <div *ngIf="showAdd">
        <button (click)="aggiungi()">Aggiungi</button>
    </div>
    <br>
    <br>
</div>
<div *ngIf="showTable">
    <table *ngIf="contiCorrente.length>0">
        <tr>
            <th>numConto</th>
            <th>Elimina</th>
            <th>Modifica</th>
        </tr>
        <tr *ngFor="let n of contiCorrente">
            <td>{{n.numeroConto}}</td>
            <td><button (click)="elimina(n)">X</button></td>
            <td><button (click)="modifica(n)">Edit</button></td>
        </tr>
    </table>
    <div *ngIf="showEdit">
        <button (click)="conferma()">Conferma</button>
        <button (click)="annulla()">Annulla</button>
    </div>
</div>
<div *ngIf="showNew">
    <button (click)="new()">New</button>
</div>