<h2>Conto Corrente</h2>
<button *ngIf="stato=='new' || stato=='edit'" (click)="new()">New</button>
<br><br>
<div *ngIf="stato=='add'|| stato=='edit' || stato=='delete'">
    <input type="text" [(ngModel)]="contoCorrente.numeroConto" placeholder="numConto" [disabled]="stato=='delete'">
    <button *ngIf="stato=='add' || stato != 'delete'" (click)="aggiungi()">Add</button>
    <div>{{errore}}</div>
</div>
<div *ngIf="stato=='edit' || stato=='delete'">
    <button (click)="conferma()">conferma</button>
    <button (click)="annulla()">annulla</button>
</div>
<br>
<br>
<table *ngIf="stato=='add'">
    <tr>
        <th>Codice conto</th>
        <th>Gestisci</th>
    </tr>
    <tr *ngFor="let c of contiCorrente">
        <td> {{c.numeroConto}} </td>
        <td> <button (click)="modifica(c)">edit</button> </td>
        <td> <button (click)="elimina(c)">delete</button> </td>
    </tr>
</table>