.Home {
    text-align: left;
}

h1 {
    font-size: large;
    text-align: center;
}

h3 {
    font-size: medium;
}

text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    color: green;
}

button :disabled {
    color: red;
}

input[type=text] {
    border-width: 2px;
}

body {
    background-color: rgb(85, 183, 216);
    text-align: center;
}

table {
    text-align: center;
    border-width: 1px;
}

header {
    text-align: center;
}

tr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}