Conto prestito <button (click)="new()">New</button>
<br><br>
<input type="text" [(ngModel)]="contoPrestito.codice " placeholder="codice conto prestito">
<div *ngIf=" showFormChoice ">
    <button (click)="conferma()">conferma</button>
    <button (click)="annulla()">annulla</button>
</div>
<button *ngIf="showAdd" (click)="add()">Add</button>
<br><br>
<table>
    <tr>
        <th>Codice conto</th>
        <th>Gestisci</th>
    </tr>
    <tr *ngFor="let c of codici,index as i">
        <td> {{c.codice}} </td>
        <td> <button (click)="edit(c)">edit</button> </td>
        <td> <button (click)="delete(c)">delete</button> </td>
    </tr>
</table>