<input type="text" placeholder="ricercaCliente" [(ngModel)]="ricercaCliente">
<button (click)="cercaCliente()">Cerca</button>
<table>
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Codice Fiscale</th>
        <th>Data di nascita</th>
        <th>Indirizzo</th>
        <th>Telefono</th>
    </tr>
    <tr *ngFor="let c of clienti">
        <td>{{c.nome}}</td>
        <td>{{c.cognome}}</td>
        <td>{{c.codiceFiscale}}</td>
        <td>{{c.dataDiNascita}}</td>
        <td>{{c.indirizzo}}</td>
        <td>{{c.telefono}}</td>
    </tr>
</table>
<input type="text" placeholder="ricercaCliente" [(ngModel)]="ricercaCliente">
<button (click)="cercaContoCorrente()">Cerca</button>
<br>
C/C trovato: {{numeroConto}}