<input type="text" placeholder="Ricerca Cliente" [(ngModel)]="ricercaCliente">
<button (click)="cercaCliente()">Cerca</button>
<div *ngIf="statoErroreCliente=='e'">{{erroreCliente}}</div>
<table *ngIf="clienti.length>0">
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Codice Fiscale</th>
        <th>Associa</th>
    </tr>
    <tr *ngFor="let c of clienti">
        <td>{{c.nome}}</td>
        <td>{{c.cognome}}</td>
        <td>{{c.codiceFiscale}}</td>
        <td><button (click)="associa(c)">Associa</button></td>
    </tr>
</table>
<br>
<input type="text" placeholder="Ricerca Conto" [(ngModel)]="ricercaConto">
<button (click)="cercaContoCorrente()">Cerca</button>
<div *ngIf="statoErroreConto=='e'">{{erroreConto}}</div>
<br>
<div *ngIf="contoCorrente.id">C/C trovato: {{contoTrovato}}</div>