<input type="text" placeholder="codice conto" [(ngModel)]="contoDaCercare.codice">
<button (click)="cerca()">Cerca</button>
<br>
<br>
{{contoSelezionato}}
<br>
<br>
<select [(ngModel)]="movimentoCp.tipoMovimento">
    <option value="concessione">Concessione</option>
    <option value="erogazione">Erogazione</option>
    <option value="rimborso">Rimborso</option>
</select>

<input type="number" placeholder="importo" [(ngModel)]="movimentoCp.importoMov">
<button (click)="esegui()">Esegui</button>

<table>
    <tr>
        <th>data</th>
        <th>tipo movimento</th>
        <th>importo</th>
    </tr>
    <tr *ngFor="let cp of listaMovimentiCp">
        <td>{{cp.dataMov}}</td>
        <td>{{cp.tipoMovimento}}</td>
        <td>{{cp.importoMov}}</td>
    </tr>
</table>
